/*Navbar styling*/
.navbar-brand {
    font-size: 36px !important; 
}
/*Main page content styling*/
#mainContainer {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    width: 65%;
}
#mainTop {
    display: flex;
}
#contentsCard {
    margin-right: 4em;
    min-width: 18em;   
}
#contentsCard ul li {
    padding: 1em;
}
#contentsList li a{
    text-decoration: none;
}
h2, h3, h4 {
    font-weight: bold;
}
.limb-pic-size {
    height: 25em !important;
}
#commonsList {
    padding: 0 0 0 1em;
}

.typesGrid {
    width: 100%;
}